body {
	background-color: #e5e5ff;
}

h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	height: 50px;
	width: 300px;
	font-size: 18px;
	background: #b2b2ff;
	color: white;
	line-height: 150%;
	border-radius: 3px 3px 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

#employeeInfo {
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#employeeContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.outputInfo {
	background-color: #b2b2ff;
	display: flex;
	flex-direction: column;	
	text-align: center;
	margin: 5px;
}

.textField {
	font-size: 15px; 
	height: 50px;
	border: none;
	outline: none;
	border-bottom: solid 1px #8787fe;
}

.deleteButton {
	display: block;
	margin: auto;
	width: 100px;
}

.submitButton {
	background-color: #8787FE;
    border: none;
    margin: 5px 0;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: white;
}